body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:azure;
    align-content: center;
    text-align: center;
    color:darkslategrey;
}
.text-title {

}
.text-content {

}