/* Disable scrollbar */
::-webkit-scrollbar {
    display: none;
}
html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Scroll snap and define the scroll direction */

:root {
    --red: #D56062;
    --blue: #3E7CB1;
    --white: #F7F0F5;
    --gray: #3C3744;
    --brown: #4B4237;
    --black: #2C1A1D;
    background-color: var(--white);
    margin: 0 auto;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Scroll arrow */

.scroll-arrow {
    position: absolute;
    top: 95vh;
    left: 50%;
    z-index: 1000;
    cursor: pointer;
    animation: bounce 2s infinite;
}



@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-10px);
  }
}

/* App.css */

.App {
    text-align: center;
    background-color: var(--white);
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
    }

.snap {
    display: inline-block;
    scroll-snap-align: center;
}

.page {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    border: 1px solid #e1e4e8;

}

.intro {
    background-color: var(--white);
    justify-content: center;
}

.timeline {
    flex-direction: column;
    background-color: var(--blue);
    color: var(--white);
    overflow: scroll;
    align-items: stretch;
    justify-content: start;
}

/* Header.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1rem;
}

.header__refs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header__title {
    font-size: 2rem;
    background-color: var(--red);
    padding: 0.75rem;
}

.header__reflink {
    font-size: 1rem;
    color: var(--blue);
    padding: 0 0.75rem;
    transition: all 0.15s ease-out;
}

.header__reflink:hover {
    color: var(--red);
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

/* Bio.css */

.bio {
    display: flex;
    width: 350px;
}

.bio__title {
    font-size: 1.5rem;
    color: var(--white);
    background-color: var(--red);
}

.bio__content {
    font-size: 1rem;
    color: var(--black);
    text-align: justify;
}

/* Project Stuff */

.project__title {
    position: absolute;
    top: 105vh;
    font-size: 1.5rem;
    color: var(--white);
    background-color: var(--red);
}

.project__card {
    display: inline-block;
    border: 1px solid #e1e4e8;
    text-align: left;
    z-index: 100;
}



.bg-wave-1 {
    position: absolute;
    width: 100%;
    bottom: -3px;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.bg-wave-1 svg {
    width: calc(131% + 1.3px);
    height: 100px;
    transform: rotateY(180deg);
}

.bg-wave-1 .shape-fill {
    fill: var(--blue);
}

.footer {
    width: 100%;
    margin: 25%;
    border: 1px solid red;

}



